@model ApplicationCore.Models.MovieDetailsModel

<style>
    .movie-facts .list-group-item {
        border-color: black;
    }

    .movie-facts {
        background-color: rgb(236, 236, 236);
    }

    .cast-img {
        width: 65%;
    }
</style>
<div class="container-fluid pt-1 mb-2 h-100">
    <!--top-->
    <div class="container-fluid"
         style="
          background: url(@Model.BackdropUrl) no-repeat fixed center;
          background-size: cover;
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: color;
        ">
        <div class="row gx-5">
            <!--poster-->
            <div class="col-lg-4">
                <img class="w-50 h-100 float-lg-end mx-5"
                     src=@Model.PosterUrl
                     alt="" />
            </div>
            <!--details-->
            <div class="col-lg-6">
                <div class="container">
                    <h1 class="text-light">@Model.Title</h1>
                    <h6 class="text-secondary">@Model.Tagline</h6>
                    <div class="row mb-2">
                        <div class="col-4">
                            <h4 class="text-secondary">@Model.RunTime m | @Model.ReleaseYear</h4>
                        </div>
                        <div class="col-8">
                            @foreach (var genre in @Model.Genres)
                            {
                                <span class="badge rounded-pill bg-secondary">@genre.Name</span>
                            }
                        </div>
                    </div>
                    <div class="mb-3">
                        <span class="badge" style="background-color: rgb(1, 185, 1)">@Model.Rating</span>
                    </div>
                    <p class="text-light fw-lighter">
                        @Model.Overview
                    </p>
                </div>
            </div>
            <!--btns-->
            <div class="col-lg-2">
                <div class="container d-flex flex-column mt-5 ps-0 pe-0 h-100">
                    <button class="btn btn-outline-light mb-4" data-bs-toggle="modal" data-bs-target="#reviewModal">
                        <i class="fa-regular fa-pen-to-square me-2"></i>REVIEW
                    </button>
                    <button class="btn btn-light mb-4" data-bs-toggle="modal" data-bs-target="#purchaseModal">
                        BUY $@Model.Price
                    </button>

                    <!-- Modals -->
                    <!-- Review -->
                    <div class="modal fade"
                         id="reviewModal"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        What did you think?
                                    </h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex">
                                    <div class="dropdown me-2">
                                        <button class="btn btn-secondary dropdown-toggle"
                                                type="button"
                                                id="reviewDrpdwnMenuBtn"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            Rating
                                        </button>
                                        <ul class="dropdown-menu"
                                            aria-labelledby="reviewDrpdwnMenuBtn">
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <li><a class="dropdown-item" href="#">@i</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="input-group">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Purchase -->
                    <div class="modal fade"
                         id="purchaseModal"
                         tabindex="-1"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Confirm Purchase
                                    </h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Confirming purchase of @Model.Title for $@Model.Price ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        Confirm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom-->
    <div class="container-fluid mt-3 mb-0">
        <div class="row">
            <!--movie facts-->
            <div class="col-lg-4">
                <div class="container pb-3 mb-0 movie-facts h-100">
                    <h3 class="text-dark text-uppercase">movie facts</h3>
                    <hr class="mx-2" />
                    <ul class="movie-facts list-group list-group-flush mx-2">
                        <li class="movie-facts list-group-item">
                            <i class="fa-regular fa-calendar me-2"></i>Release Date
                            <span class="badge rounded-pill bg-dark">@Model.ReleaseDate</span>
                        </li>
                        <li class="movie-facts list-group-item">
                            <i class="fa-regular fa-hourglass me-2"></i>Run Time
                            <span class="badge rounded-pill bg-dark">@Model.RunTime</span>
                        </li>
                        <li class="movie-facts list-group-item">
                            <i class="fa-light fa-money-bill me-2"></i>Box Office
                            <span class="badge rounded-pill bg-dark">@Model.Revenue</span>
                        </li>
                        <li class="movie-facts list-group-item">
                            <i class="fa-solid fa-dollar-sign me-2"></i>Budget
                            <span class="badge rounded-pill bg-dark">@Model.Budget</span>
                        </li>
                        <li class="movie-facts list-group-item">
                            <i class="fa-solid fa-square-minus me-2"></i>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </li>
                    </ul>
                    <h3 class="text-dark text-uppercase mt-5">trailers</h3>
                    <hr class="mx-2" />
                    <ul class="movie-facts list-group list-group-flush mx-2">
                        @foreach (var trailer in @Model.Trailers)
                        {
                            <li class="movie-facts list-group-item">
                                <i class="fa-brands fa-youtube me-2"></i><a href="@trailer.TrailerUrl" class="text-decoration-none text-dark">@trailer.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <!--cast-->
            <div class="col-lg-7">
                <div class="container ms-5 pe-5">
                    <ul class="cast-list list-group list-group-flush pe-5">
                        <li class="list-group-item">
                            <h3 class="text-dark text-uppercase">cast</h3>
                        </li>
                        @foreach (var cast in @Model.Casts)
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-2">
                                        <a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id">
                                            <img src=@cast.ProfilePath
                                                 alt="@cast.Name"
                                                 class="rounded-circle cast-img" />
                                        </a>
                                    </div>
                                    <div class="col-4 ms-3 mt-2">@cast.Name</div>
                                    <div class="col-4 ms-3 mt-2">@cast.Character</div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



